body {
  height: 100vh;
  background: url(./images/house-background.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-task-container {
  width: 350px;
  padding: 20px 10px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 5;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
}
#add-task {
  flex: 1;
  transition: 0.5s;
  font-size: 1.2rem;
  padding: 5px;
  background-color: white;
  color: green;
  border: green solid 3px;
  border-radius: 10px;
}

#add-task:hover {
  background-color: green;
  color: white;
}
.task {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 3px;
  padding: 5px;
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  flex: 4;
  padding: 5px;
  font-size: 1.2rem;
  margin: 10px;
}

.task button {
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
}
.task .checkTask {
  color: orange;
  margin-right: 5px;
  border: solid 2px orange;
  font-size: 1.5rem;
  transition: 1s;
}

.task .deleteTask{
color: red;
margin-right: 5px;
border: solid 2px red;
font-size: 1.3rem;
transition: 1s;
}


.task .checkTask:hover {
  background-color: orange;
  color: white;
}
.task .deleteTask:hover {
background-color: rgb(255, 0, 0);
color: white;
}
